<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Formulaire Flask</title>
  </head>
  <body>
    <h1>Commande Créée avec succès!</h1>
    <a href="/">retour</a>
    <p>nom: {{commande.nom}}</p>
    <p>adresse: {{commande.adresse}}</p>
    <p>telephone: {{commande.telephone}}</p>

    <br>

    <p>Croute: {{commande.croute}}</p>
    <p>Sauce: {{commande.sauce}}</p>
    <p>Garniture #1: {{commande.garniture1}}</p>
    <p>Garniture #1: {{commande.garniture2}}</p>
    <p>Garniture #1: {{commande.garniture3}}</p>
    <p>Garniture #1: {{commande.garniture4}}</p>
  </body>
</html>
